# Compiled binaries and deployment files
/bin/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# cspc file is created during sanity test
./ci/sanity/cspc.yaml

# IDE files
**/.idea/
