# Copyright 2020 The OpenEBS Authors. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
name: build

on: ['push']

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Shellcheck
        uses: reviewdog/action-shellcheck@v1
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          path: '.'
          pattern: '*.sh'
          exclude: './.git/*,./vendor/*'

  cspc-operator:
    runs-on: ubuntu-latest
    needs: ['lint']
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set tag
        run: |
          BRANCH="${GITHUB_REF##*/}"
          CI_TAG=${BRANCH#v}-ci
          if [ ${BRANCH} = "master" ]; then
            CI_TAG="ci"
          fi
          echo "::set-env name=TAG::${CI_TAG}"
          echo "::set-env name=BRANCH::${BRANCH}"
          echo "BRANCH: ${BRANCH}"
          echo "TAG: ${CI_TAG}"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          version: latest

      - name: Login to Docker Hub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build & Push Image
        env:
          IMAGE_ORG: ${{ secrets.IMAGE_ORG}}
        run: |
          make docker.buildx.cspc-operator
          make buildx.push.cspc-operator

  cvc-operator:
    runs-on: ubuntu-latest
    needs: ['lint']
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set tag
        run: |
          BRANCH="${GITHUB_REF##*/}"
          CI_TAG=${BRANCH#v}-ci
          if [ ${BRANCH} = "master" ]; then
            CI_TAG="ci"
          fi
          echo "::set-env name=TAG::${CI_TAG}"
          echo "::set-env name=BRANCH::${BRANCH}"
          echo "BRANCH: ${BRANCH}"
          echo "TAG: ${CI_TAG}"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          version: latest

      - name: Login to Docker Hub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build & Push Image
        env:
          IMAGE_ORG: ${{ secrets.IMAGE_ORG}}
        run: |
          make docker.buildx.cvc-operator
          make buildx.push.cvc-operator
  
  pool-manager:
    runs-on: ubuntu-latest
    needs: ['lint']
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set tag
        run: |
          BRANCH="${GITHUB_REF##*/}"
          CI_TAG=${BRANCH#v}-ci
          if [ ${BRANCH} = "master" ]; then
            CI_TAG="ci"
          fi
          echo "::set-env name=TAG::${CI_TAG}"
          echo "::set-env name=BRANCH::${BRANCH}"
          echo "BRANCH: ${BRANCH}"
          echo "TAG: ${CI_TAG}"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          version: latest

      - name: Login to Docker Hub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build & Push Image
        env:
          IMAGE_ORG: ${{ secrets.IMAGE_ORG}}
        run: |
          make docker.buildx.pool-manager
          make buildx.push.pool-manager
  
  volume-manager:
    runs-on: ubuntu-latest
    needs: ['lint']
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set tag
        run: |
          BRANCH="${GITHUB_REF##*/}"
          CI_TAG=${BRANCH#v}-ci
          if [ ${BRANCH} = "master" ]; then
            CI_TAG="ci"
          fi
          echo "::set-env name=TAG::${CI_TAG}"
          echo "::set-env name=BRANCH::${BRANCH}"
          echo "BRANCH: ${BRANCH}"
          echo "TAG: ${CI_TAG}"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          version: latest

      - name: Login to Docker Hub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build & Push Image
        env:
          IMAGE_ORG: ${{ secrets.IMAGE_ORG}}
        run: |
          make docker.buildx.volume-manager
          make buildx.push.volume-manager

  cstor-webhook:
    runs-on: ubuntu-latest
    needs: ['lint']
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set tag
        run: |
          BRANCH="${GITHUB_REF##*/}"
          CI_TAG=${BRANCH#v}-ci
          if [ ${BRANCH} = "master" ]; then
            CI_TAG="ci"
          fi
          echo "::set-env name=TAG::${CI_TAG}"
          echo "::set-env name=BRANCH::${BRANCH}"
          echo "BRANCH: ${BRANCH}"
          echo "TAG: ${CI_TAG}"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          version: latest

      - name: Login to Docker Hub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build & Push Image
        env:
          IMAGE_ORG: ${{ secrets.IMAGE_ORG}}
        run: |
          make docker.buildx.cstor-webhook
          make buildx.push.cstor-webhook