name: Go
on: [push, pull_request]
jobs:

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13.6
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1
      with:
        fetch-depth: 1
        path: go/src/github.com/openebs/cstor-operators

    - name: verify dependencies
      run: make deps

    - name: verify tests
      run: make test
      env:
        GOPATH: /home/runner/work/cstor-operators/go

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13.6
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1
      with:
        fetch-depth: 1
        path: go/src/github.com/openebs/cstor-operators

    - name: build all cmd
      run: go build ./cmd/...
      env:
        GOPATH: /home/runner/work/cstor-operators/go
