name: Go
on:
  push:
  pull_request:
    paths-ignore:
      - 'charts/**'
jobs:

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.14
      uses: actions/setup-go@v1
      with:
        go-version: 1.14.7
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: verify license
      run: make license-check

    - name: verify dependencies
      run: make deps

    - name: verify tests
      run: make test

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.14
      uses: actions/setup-go@v1
      with:
        go-version: 1.14.7
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: build all cmd
      run: make build
